{% extends 'layout.html' %}

{% block content %}
<a class="fn-ref" href="/source/{{ fnid }}">{{ fnid }}</a>
<h1>{{ citation }}</h1>
<div>
    {% for data, meta in tagged %}
        {% autoescape false %}
            <div class="tagged-data">{{ data }}</div>
        {% endautoescape %}
        <div class="tagged-data--tags">
            {% for t in meta['tags'] %}
                <a href="/tag/{{ t }}">{{ t }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}

